*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00ADB5, #393E46);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-row{
    width: 90%;
    width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
.price-coloumn{
    position: relative;
    background: #EEEEEE;
    padding: 10% 15%;
    text-align: center;
    color: 222831;
    transition: all 0.3s ease;
}
.price-coloumn h2{
    font-family: Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}
.price-coloumn h3{
    font-family: "Abel Pro",Helvetica,Arial,sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    margin-top: 20px;
}
.price-coloumn h3::after{
    content: ' / a month';
    font-size: 18px;
    font-weight: 200;
}
.price-coloumn .feature li{
    color: #727272;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 1.4;
}
.price-coloumn .feature img{
    height: 20px;
}
img{
    margin-right: 10px;
}
.price-coloumn .feature p{
    color: #727272;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 300;
}
.price-coloumn button{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 30px;
    color: #EEEEEE;
    background: linear-gradient(#00ADB5, #222831);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}
.price-coloumn button:hover{
    transform: scale(0.95);
    transition: all 0.3s ease;
}
.price-coloumn:hover{
    transform: scale(0.98);
    transition: all 0.3s ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
